.content{


    width:70vw;
    margin:auto;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}


.newswindow{
    width: 70vw;
    height: 50vh;
}
body{
    padding: 0px;
    margin: 0px;
}
.mainheader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-left: 10px;
    
}
.pageheader{
    background-size: cover;
    height: 100px;
}

a{
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    background: none;
    padding:  10px; 
    text-decoration: none;
    border-radius: 10px;
    color: black;
}
a:hover{
    background: none;
}
li{
    display: inline;
    
}
.menu{
    margin-top: 50px;
}

.kop {
    background-color: greenyellow
}


a:hover {
    background-color: rgba(15, 215, 255, 0.7);

}

.produkt {
    margin-right 20px;
}